<footer id="layout-footer">
    <div>
        <p>
            &#169; R & A . All Rights Reserved
        </p>
    </div>
    
    <div >
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <%if(locals.user) { %>
                        <a href="/users/profile/<%= user.id %>">Profile</a>
                    <% } else { %>
                        <a href="/users/sign-in">Sign In</a>
                    <% } %>
                </li>
            </ul>
        </nav>
    </div>
</footer