<link rel="stylesheet" href="<%= assetPath('css/user_sign_up.css') %>">
<div class="ripple-background" style="z-index: -1;">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle mediun shade4"></div>
    <div class="circle small shade5"></div>
</div>
<div id="sign-up-page">
    <div class="login-box">
        <h2>
            Sign Up
        </h2>
        <form action="/users/create" method="POST">


            <div class="user-box">
                <input type="text" name="name" placeholder="Your Name" required>
            </div>
            <div class="user-box">

                <input type="email" name="email" placeholder="Your Email" required>
            </div>
            <div class="user-box">

                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="user-box">

                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            </div>
            <div style="display: flex;">
                <div class='submit-btn'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <input type="submit" value="Sign up">
                </div>

                <p id="google-sign-up" class="button-86">
                    <a href="/users/auth/google"><span>Sign Up @Google</span></a>
                </p>

            </div>

            <p id="already-account">
                <span>Already have an account?</span> <br>
                <a href="/users/sign-in">Log In</a>
            <p>
            
        </form>
    </div>

</div>