#layout-header {
    nav {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        background: #ff0066;
        color: white;
        box-shadow: 1px 1px 1px 1px lightgrey;

        .mini-logo {
            width: 12%;

            img {
                height: 30px;
                width: 30px;
                border-radius: 16px;
            }

            p {
                margin: 5px;
                font-size: 1.4rem;
                font-weight: bold;
                align-items: center;
                justify-content: space-between;
                display: flex;
            }
        }

        .auth-links {
            ul {
                margin: 5% 5px;
                display: flex;

                li {
                    margin-right: 30px;
                }
            }
        }

        a {
            color: white;
            text-decoration: none;
        }
    }
}