#home-container{
    display: flex;
    #user-nav
    {
        font-weight: 700;
    font-family: 'Niconne', cursive;
      text-shadow: 2px 2px 0px #eb452b;
    
    color: black;
    padding-left: 50;
    
    font-size: 1.5rem;
        width: 20%;
        padding: 10px;
        border-right: 1px solid lightgrey;
    }

    #feed-posts{
        
    font-family: 'Niconne', cursive;
    
    color: black;
    
        width: 60%;
        padding: 10px;
        h4{
            text-shadow: 2px 2px 0px #eb452b;
            font-size: 1.5rem;
            font-weight: 700;
            font-family: 'Niconne', cursive;
            }

        #new-post-form{
            display:flex;
            flex-direction:column;
            // margin-left: 17rem;
            // display:inline-block;
            textarea{
                outline:none;
                // display: inline-block;
                height: 7rem;
                width: 15rem;
                font-size:1rem;
                // box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.7); 
                border:0.5px dashed black;
            }
            input[type="submit"]{
                ome-container #feed-posts #new-post-form input[type="submit"] {
                    font-family: 'Niconne', cursive;
                text-shadow: 2px 2px 0px #eb452b;
    
                background-color: #a13681;
                // display: inline-block;
               
                width: 15rem;
                padding: 0.45rem;
                color:white;
                font-size:1rem;
                outline: none;
                cursor: pointer;
                border:none;
                border-radius:3%;
            }
        }


    }

    #user-friends{
        width: 20%;
        padding: 10px;
        border-left: 1px solid lightgray;
        height: 100%;
        #main-heading{
            font-weight: 700;
    font-family: 'Niconne', cursive;
    text-shadow: 2px 2px 0px #eb452b;
    color: black;
    padding-left: 50;
    
    font-size: 1.5rem;;
            
    #frnd-list{
        display: flex;
    }

        }
        a{
            text-decoration: none;
            margin-top:1rem;
            padding:0.3rem;
            display: flex;
            flex-direction: row;
            img{
                display: flex;
                border-radius:50%;
                
            }
            #friend-name{
                font-weight: 700;
    font-family: 'Niconne', cursive;
      text-shadow: 2px 2px 0px #eb452b;
    display: flex;
    color: black;
    padding-left: 50;
    padding-top: 20;
    font-size: 1.5rem
                
            }
        }
        a:hover{
            background-color: #F2F3F5;;
        }
        
    }
    }
}