#home-container {
  display: flex; }
  #home-container #user-nav {
    width: 20%;
    padding: 10px;
    border-right: 1px solid lightgrey; }
  #home-container #feed-posts {
    width: 60%;
    padding: 10px; }
    #home-container #feed-posts #new-post-form {
      display: flex;
      flex-direction: column; }
      #home-container #feed-posts #new-post-form textarea {
        outline: none;
        height: 7rem;
        width: 15rem;
        font-size: 1rem;
        border: 0.5px dashed black; }
      #home-container #feed-posts #new-post-form input[type="submit"] {
        background-color: #a13681;
        width: 15rem;
        padding: 0.45rem;
        color: white;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 3%; }
  #home-container #user-friends {
    width: 20%;
    padding: 10px;
    border-left: 1px solid lightgrey; 
    height: 100%;
  }
  #home-container #user-friends #main-heading {
    font-family: sans-serif; }
  #home-container #user-friends a {
    text-decoration: none;
    margin-top: 1rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: row; }
    #home-container #user-friends a img::before {
      border-radius: 50%; }
    #home-container #user-friends a #friend-name {
      color: black; }
  #home-container #user-friends a:hover {
    background-color: #F2F3F5; }