html, body {
  width: 100%;
  height:100%;
}

body {
  background: linear-gradient(90deg,#75ffed, #6284FF, #e45050);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite; }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  body .profile-section {
    display: flex;
    flex-direction: column; }
    body .profile-section img {
      margin-left: 630; }
      body .profile-section #prof_name {
        margin-left: 630; }
        body .profile-section #prof_email {
          margin-left: 630; }
    body .profile-section form {
      display: inline-block;
      height: 20rem;
      width: 18rem;
      border-radius: 3%;
      margin: auto; }
      body .profile-section form input {
        display: inline-block;
        margin-top: 0.5rem;
        width: 15rem;
        padding: 0.8rem;
        font-size: 0.7rem;
        font-family: sans-serif;
        outline-color: black; }
      body .profile-section form input[type="submit"] {
        background-color: #a13681;
        color: white;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 3%; }
      body .profile-section form input[type="file"] {
        background-color: #322f38;
        color: white;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 3%; }