body {
    background-image: url("<%= assetPath('images/cover-photo-blur.jpg') %>");
    background-size: cover; }
    body #sign-up-page form {
      background-color: white;
      height: 26rem;
      width: 18rem;
      border-radius: 3%;
      margin: auto; }
      body #sign-up-page form h1 {
        font-family: arial;
        font-weight: bold; }
      body #sign-up-page form #google-sign-up {
        height: 2rem;
        width: 15rem;
        background-color: white;
        border-style: outset;
        margin-left: 1.5rem;
        border-radius: 3%; }
        body #sign-up-page form #google-sign-up a {
          text-decoration: none;
          color: black;
          font-size: bold;
          font-family: sans-serif;
          font-size: 0.9rem; }
          body #sign-up-page form #google-sign-up a span {
            position: relative;
            top: -0.4rem; }
      body #sign-up-page form input {
        display: inline-block;
        margin-top: 0.5rem;
        width: 15rem;
        padding: 0.8rem;
        font-size: 0.7rem;
        font-family: sans-serif;
        outline-color: black; }
      body #sign-up-page form input[type="submit"] {
        background-color: #a13681;
        color: white;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        border: none; }
      body #sign-up-page form #already-account {
        height: 2rem;
        width: 15rem;
        margin-left: 1rem; }
        body #sign-up-page form #already-account span {
          color: black; }
        body #sign-up-page form #already-account a {
          text-decoration: none;
          color: #a13681; }