body {
  
  background: linear-gradient(90deg,#75ffed, #6284FF, #e45050);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
  font-weight: 700;
  font-family: 'Niconne', cursive;
  /* text-shadow: 2px 2px 0px #eb452b; */
     }
     @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
     .circle{
      position: absolute;
      border-radius: 50%;
      background: white;
      animation: ripple 15s infinite;
      box-shadow: 0px 0px 1px 0px #508fb9;
    }
    
    .small{
      width: 200px;
      height: 200px;
      left: -100px;
      bottom: -100px;
    }
    
    .medium{
      width: 400px;
      height: 400px;
      left: -200px;
      bottom: -200px;
    }
    
    .large{
      width: 600px;
      height: 600px;
      left: -300px;
      bottom: -300px;
    }
    
    .xlarge{
      width: 800px;
      height: 800px;
      left: -400px;
      bottom: -400px;
    }
    
    .xxlarge{
      width: 1000px;
      height: 1000px;
      left: -500px;
      bottom: -500px;
    }
    
    .shade1{
      opacity: 0.2;
    }
    .shade2{
      opacity: 0.5;
    }
    
    .shade3{
      opacity: 0.7;
    }
    
    .shade4{
      opacity: 0.8;
    }
    
    .shade5{
      opacity: 0.9;
    }
    
    @keyframes ripple{
      0%{
        transform: scale(0.8);
      }
      
      50%{
        transform: scale(1.2);
      }
      
      100%{
        transform: scale(0.8);
      }
    }

#home-container {
  display: flex; }
  #home-container #user-nav {
    font-weight: 700;
    font-family: 'Niconne', cursive;
    text-shadow: 2px 2px 0px #eb452b;
    color: black;
    padding-left: 50;
    
    font-size: 1.5rem;
    width: 20%;
    padding: 10px;
    border-right: 1px solid lightgrey; }
    #home-container #user-nav .user-nav-internal {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    #home-container #user-nav .user-nav-internal p {
      height: 50px;
      align-items: center;
      display: flex;
    }
    #home-container #user-nav .user-nav-internal p,
    #home-container #user-nav .user-nav-internal img {
      border: 1px solid grey;
      padding: 0px 10px;
    }
  #home-container #feed-posts {
    color: black;
    font-family: 'Niconne', cursive;
    width: 60%;
    padding: 10px; }
    #home-container #feed-posts h4{
    text-shadow: 2px 2px 0px #eb452b;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Niconne', cursive;
    position: relative;
    left: 45%;
    }
    #home-container #feed-posts #new-post-form {
      display: flex;
      flex-direction: column; 
    align-items: center;
  justify-content: center;}
      #home-container #feed-posts #new-post-form textarea {
        outline: none;
        height: 7rem;
        width: 15rem;
        font-size: 1rem;
        border: 0.5px dashed black; }
      #home-container #feed-posts #new-post-form input[type="submit"] {
        font-family: 'Niconne', cursive;
    text-shadow: 2px 2px 0px #eb452b;
        background-color: #a13681;
        width: 15rem;
        padding: 0.45rem;
        color: white;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 3%; }
  #home-container #user-friends {
    width: 20%;
    padding: 10px;
    border-left: 1px solid lightgrey; 
    height: 100%;
  }
  #home-container #user-friends #main-heading {
    font-weight: 700;
    font-family: 'Niconne', cursive;
    text-shadow: 2px 2px 0px #eb452b;
    color: black;
    padding-left: 50;
    
    font-size: 1.5rem;
     }
    #home-container #user-friends #frnd-list{
      display: flex;
    }
  #home-container #user-friends a {
    text-decoration: none;
    margin-top: 1rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: row; }
    #home-container #user-friends a img {
      display: flex;
      border-radius: 50%; }
    #home-container #user-friends a #friend-name {
      font-weight: 700;
    font-family: 'Niconne', cursive;
      text-shadow: 2px 2px 0px #eb452b;
    display: flex;
    color: black;
    padding-left: 50;
    padding-top: 20;
    font-size: 1.5rem;
       }
  #home-container #user-friends a:hover {
    background-color: #F2F3F5; }

  .post-textarea {
    background:#fff url(https://static.tumblr.com/maopbtg/a5emgtoju/inflicted.png) repeat;        
    background-size: 100% 4rem;
   border: 1px solid #CCC;
   width: 100%;
   height: 400px;
   line-height: 2rem;
   margin: 0 auto;
   padding: 4px 8px;
   color: white;
   border-radius: 1rem;
  }

  .btn-class-name {
    --primary: 255,90,120;
    --secondary: 150,50,60;
    width: 60px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgb(var(--primary),.5);
    border-radius: 100%;
    transition: .3s;
    position: relative;
    margin-top: 30px;
}
.btn-class-name .back, .btn-class-name .front {
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
background: linear-gradient(0deg,rgba(var(--primary),.6) 20%,rgba(var(--primary)) 50%);
box-shadow: 0 0.5em 1em -0.2em rgba(var(--secondary),.5);
border: 1px solid rgb(var(--secondary));
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
font-weight: 600;
font-family: inherit;
transform: translateY(-15%);
transition: .15s;
color: rgb(var(--secondary));
}
